/* Slideshow secondary */

.boxss {
	margin-top: -2%;
	// border: 2px solid red;
	display: flex;
	width: 100%;
	height: 350px;
}

@mixin white-gradient {
	background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
}

$animationSpeed: 40s;

// Animation
@keyframes scroll {
	0% {
		transform: translateX(0);
	}

	100% {
		transform: translateX(calc(-250px * 7))
	}
}


// Styling
.slider {
	background: transparent;
	box-shadow: 0 0px 0px -5px rgba(0, 0, 0, .125);
	height: 305px;
	margin-top:40px;
	border: none;
	// border: 2px solid red;
	// margin: auto;
	overflow: hidden;
	position: relative;
	display:flex;
	// align-items: center;
	width: 100%;

	&::before,
	&::after {
		@include white-gradient;
		content: "";
		height: 380px;
		position: absolute;
		width: 250px;
		z-index: 2;
	}

	&::after {
		right: 0;
		top: 40px;
		transform: rotateZ(180deg);
	}

	&::before {
		left: 0;
		top: 40px;
	}

	.slide-track {
		animation: scroll $animationSpeed linear infinite;
		display: flex;
		width: calc(250px * 14);
	}

	.slide {
		height: 200px;
		width: 400px;
		margin-left: 28px;
		margin-top:1%;
		cursor: pointer;

		h3 {
			margin-top: 2%;
			font-size: 18px;
			text-align: center;
		}
	}
}

.slide_of_image img {
	border: 3px solid green;
	border-radius: 3px;
	box-shadow: 0 8px 12px -4px black;
}
.slide_of_image:hover{
	transform: scale(1.1);
}