::-webkit-scrollbar {
  display: none;
}
::-webkit-scrollbar-thumb {
  display: none;
}
/* .Respon{
  display: none;
} */
.responsive{
  display: none;
}
@media screen and (max-width: 1472px) {
  .responsive{
    display: block;
  }
  .Respon{
    display: none;
  }
}
@media screen and (min-width: 1752px) {
  .Tur_portal{
    margin:  0 0 0 -4% ;
  }
}
@media screen and (min-width: 2052px) {
  .Tur_portal{
    margin:  0 0 0 -6% ;
  }
}
@media screen and (min-width: 2052px) {
  .logo_name{
    margin-top: 2%;
    margin-left:6%;
  }
  .Tur_name,.Tur_portal{
    margin-top: 1.5%;
    margin-left:125px;
  }
  .Tur_portal{
    margin-left: -2%;
  }
}